<svg version="1.1" 
    ng-attr-width='{{ctrl.width}}'
    ng-attr-height='{{ctrl.height}}'
    xmlns="http://www.w3.org/2000/svg"
    style="border: 1px black solid">
    <!-- X-axis -->
    <!--<line
        ng-attr-x1="0"
        ng-attr-y1='{{ctrl.height/2}}'
        ng-attr-x2='{{ctrl.width}}'
        ng-attr-y2='{{ctrl.height/2}}'
        style="stroke:rgb(0,0,0);stroke-width:1" 
    ></line>-->

        <!-- Y-axis -->
    <!--<line
        ng-attr-x1="0"
        ng-attr-y1='-50'
        ng-attr-x2='{{ctrl.width}}'
        ng-attr-y2='{{ctrl.height/2}}'
        style="stroke:rgb(0,0,0);stroke-width:1" 
    ></line>-->

    <circle
        ng-attr-cx = "{{ctrl.originX}}"
        ng-attr-cy = "{{ctrl.originY}}"
        ng-attr-r = "2"
        ng-attr-fill = "red"
    ></circle>

</svg>

<form>
    <label for="">x min</label>
    <input type="text" ng-model="ctrl.minX" ng-change="ctrl.setOrigin()"><br>
    <label for="">x max</label>
    <input type="text" ng-model="ctrl.maxX" ng-change="ctrl.setOrigin()"><br><br>
    <label for="">y min</label>
    <input type="text" ng-model="ctrl.minY" ng-change="ctrl.setOrigin()"><br>
    <label for="">y max</label>
    <input type="text" ng-model="ctrl.maxY" ng-change="ctrl.setOrigin()"><br>
</form>
