<svg version="1.1" 
    ng-attr-width='{{ctrl.getWidth()}}'
    ng-attr-height='{{ctrl.getHeight()}}'
    xmlns="http://www.w3.org/2000/svg"
    style="border: 1px black solid">
    <!-- X-axis -->
    <path d="M0 {{ctrl.originY}} H {{ctrl.getWidth()}} " fill="transparent" stroke="black"></path>
    <path d="M {{ctrl.originX}} 0 V0 {{ctrl.getHeight()}} " fill="transparent" stroke="black"></path>

    <!--plot multiple functions-->
    <path 
        ng-repeat="func in ctrl.paths"
        ng-attr-d="{{func.path}}"
        ng-attr-fill="transparent"
        ng-attr-stroke="{{func.color}}"
    ></path>
    <!--<text x="20" y="20" fill="black">Hola 1</text>-->
    
    <circle
        ng-repeat="point in ctrl.pointsVal"
        ng-attr-cx = "{{point.x}}"
        ng-attr-cy = "{{point.y}}"
        ng-attr-r = "2"
        ng-attr-fill = "{{point.color}}"
    ></circle>

</svg>

<form ng-show="ctrl.config">
    <label for="">width</label>
    <input type="text" ng-model="ctrl.width" ng-change="ctrl.plotFunctions();"><br>
    <label for="">height</label>
    <input ype="text" ng-model="ctrl.height" ng-change="ctrl.plotFunctions();"><br><br>
    <label for="">X min</label>
    <input type="text" ng-model="ctrl.minX" ng-change="ctrl.plotFunctions();"><br>
    <label for="">X max</label>
    <input type="text" ng-model="ctrl.maxX" ng-change="ctrl.plotFunctions();"><br><br>
    <label for="">Y min</label>
    <input type="text" ng-model="ctrl.minY" ng-change="ctrl.plotFunctions();"><br>
    <label for="">Y max</label>
    <input type="text" ng-model="ctrl.maxY" ng-change="ctrl.plotFunctions();"><br><br>
    <label for="">Resolution</label>
    <input type="text" ng-model="ctrl.resolution" ng-change="ctrl.plotFunctions();"><br>
    
    <button ng-click="ctrl.addFunction();">Add function</button>
    <div ng-repeat="func in ctrl.functions track by $index">
        <label for="">Function {{$index+1}}</label>
        <input type="text" ng-model="func.def" ng-change="ctrl.drawAllFunctions();">
        <button ng-click="ctrl.removeFunction($index)">x</button><br><br>
    </div>
    <br><br>
    <button ng-click="">Add Point</button>
    <div ng-repeat="point in ctrl.points track by $index">
        <label for="">Point {{$index+1}}</label>
        <input type="text" ng-model="point.x" ng-change="">
        <input type="text" ng-model="point.y" ng-change="">
        <button ng-click="">x</button><br><br>
    </div>
    
    
</form>
